.pagewrapper {
    background-color: #C29B64;
}

body {
    background-color: #C29B64;
}

.container {
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.p3 {
    font-family: Arial, Helvetica, sans-serif
}

nav section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 3vh;
}

a {
    text-decoration: none;

}

img.rasberryTea{
 height: 190px;
 width: 190px;
}