.pagewrapper,
body {
    background-color: #5c443a;
}

.p3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}

.better {
    display: flex;
    flex-direction: row;
}

img {
    margin: 3%;
}

h1 {
    font-size: 3vh;
}

nav section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 3vh;
}

a {
    text-decoration: none;

}

.p3 {
    font-family: Arial, Helvetica, sans-serif
}

.josiah{
    width: 316px;
    height: 324px;
    flex-shrink: 0;
    border-radius: 324px;
    opacity: 0.9;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}
.samuel{
    width: 316px;
    height: 324px;
    flex-shrink: 0;
    border-radius: 324px;
    opacity: 0.9;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}
.tero{
    width: 316px;
    height: 324px;
    flex-shrink: 0;
    border-radius: 324px;
    opacity: 0.9;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}

p{
    font-size: 25px;
}

/* @media only screen and (min-width:640px) */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
  width: 350px;
height: 50px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
